.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    height: 100%;
    gap:10px;
    &spage{
        
    overflow-y: scroll;
    }
}
.item-desc{
    padding: 0 15%;
    margin-bottom: 20px;
}
.table{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    width: 100%;
}

.allergen_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}