.profile {
    min-width: 100vw;
    height: 100vh;
    background-color: #FCF5EA;
    padding-top: 40px;

    &_info {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
    }

    &_allergies {
        width: 70%;
        margin: 10px 0 20px 0;
        display: flex;
        flex-wrap: wrap;

        &_head {
            width: 100%;
        }
    }
}