


.estilos {
    width: 100%;
    grid-template-columns: repeat(1, f1);
    grid-gap: 20px;
    padding: 20px 0 60px 0 ;
}

.margins{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, f1);
    grid-gap: 20px;
    padding-top: 20px;
}

.colors {
    width: 100%;
    grid-template-columns: repeat(1, f1);
    grid-gap: 20px;
    padding-top: 20px;
}
