* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
}

// Barra Navegación

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-scrollbar::before {
  background: linear-gradient(
    150deg,
    rgba(135, 206, 235, 1) 20%,
    rgba(70, 130, 180, 1) 100%
  ) !important;
}
.simplebar-track {
  border-radius: 10px;
}
.simplebar-content-wrapper {
  height: 70vh;
  width: 80vw;
}

//Contenedores

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ffebd0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(
    180deg,
    rgba(252, 245, 234, 1) 0%,
    rgba(255, 235, 208, 1) 80%,
    rgba(255, 235, 208, 1) 100%
  );
}
#phoneframe{
  display: none;

  
}
.phoneframe_img{
  width: 100%;  
}

// para acciones
.master {
  width: 100%;
  height: 100%;
  
  padding-top: 40px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  // padding-top: 40px;
  // border-top-left-radius: 20px;
  // border-top-right-radius: 20px;
  // position: absolute;
  // animation: slideUp 1.5s ease forwards;
  // background-color: #FBF1E9 ;
  // z-index: 2;
}

// @keyframes slideUp {
//   from {
//     transform: translateY(100%);
//   }
//   to {
//     transform: translateY(-40px);
//   }
// }
.container {
  max-width: 410px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (min-width: 480px) {
  body{
  background-color: #2d2a26;
  }
  #root{
    height: auto;
    width: 412px;
    aspect-ratio: 0.45;
    transform: scale(0.7);
    border-radius: 20px;
  }
  .master {
    max-width: 100%;
    max-height: 100%;
  }
  #phoneframe{
    width: 412px;
    height: 100%;
    aspect-ratio: 0.45;
    transform: scale(0.92);
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: -1;
  }
}

//inputs

.btt {
  background-color: #9ccda1;
  padding: 10px 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  &_danger {
    @extend .btt;
    background-color: #ba2022;
    color: #f8f8f8;
  }
  &_danger {
    @extend .btt;
    background-color: #e32b38;
    color: #f8f8f8;
  }
}
.btt:hover {
  background-color: #68967a;
}
.btt_danger:hover {
  background-color: #ba2022;
}
.btt:active {
  background-color: #ba2022;
  color: #f8f8f8;
}
.btt:disabled {
  background-color: #dde0df;
  color: #f8f8f8;
}

.btt_txt {
  background-color: #9ccda100;
  padding: 10px 20px 0 20px;
  margin-bottom: 10px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #9ccda1;

  &_alt {
    @extend .btt_txt;
    padding: 10px 20px 0 20px;
    border-bottom: solid #9ccda1;
    border-width: 3px;
  }
  &_smol {
    @extend .btt_txt;
    padding: 5px 10px 0 10px;
    &_w {
      @extend .btt_txt_smol;
      color: #fcf5ea;
    }
  }
}
.btt_txt:hover {
  border-color: #68967a;
  color: #68967a;
}
.btt_txt_smol_w:hover {
  color: #ffebd0;
}
.btt_txt:active {
  border-color: #ba2022;
  color: #ba2022;
}
.btt_txt:disabled {
  border-color: #dde0df;
  color: #dde0df;
}

.input {
  background-color: #f8f8f8;
  padding: 5px 15px;
  border-radius: 10px;
  border-bottom: 5px solid #9ccda1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  font-family: "Neutra";
  font-weight: 500;
  font-size: x-large;
  color: #2d2a26;
  transition: border-color 0.3s ease, color 0.3s ease;
}
.input:focus {
  color: #2d2a26;
  border-color: #68967a;
}
.input:disabled {
  color: #dde0df;
  border-color: #dde0df;
}
.input:invalid {
  color: #2d2a26;
  border-color: #ba2022;
}
.input_error{
  background-color: #f8f8f8;
  padding: 5px 15px;
  border-radius: 10px;
  border-bottom: 5px solid #9CCDA1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  font-family: "Neutra";
  font-weight: 500;
  font-size: x-large;
  color: #2d2a26;
  transition: border-color 0.3s ease, color 0.3s ease;
  color: #2d2a26;
  border-color: #BA2022;
}

.tag {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 40px;
  background: #9ccda1;
  border: 3px solid #9ccda1;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease, color 0.3s ease;
  &_active {
    @extend .tag;
    background: #68967a;
    border-color: #68967a;
  }
  &_danger {
    @extend .tag;
    background: #ba2022;
    border-color: #ba2022;
  }
}
.tag:disabled {
  background: #dde0df;
  border-color: #dde0df;
}
.tag_alt {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 40px;
  background: none;
  border: 3px solid #9ccda1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease, color 0.3s ease;
  &_danger {
    @extend .tag_alt;
    border-color: #ba2022;
  }
}
.tag_alt_active {
  background-color: #68967a;
  border-color: #68967a;
  color: #f8f8f8;
}
.tag_alt:disabled {
  border-color: #dde0df;
  color: #dde0df;
}

//img


.img{
  width: 40%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin: 20px;
  &_s{
      @extend .img;
      width: 20%;
      aspect-ratio: 1/1;
      border-radius: 10px;
      margin: 20px;
  }
  &_b{
      @extend .img;
      width: 80%;
      aspect-ratio: 1/1;
      border-radius: 20px;
      margin: 20px;
  }
}
.img-r {
  width: 40%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 20px;
  &_s {
    @extend .img;
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    margin: 20px;
  }
}
.valid {
  outline: 10px solid #9ccda1;
}
.nd {
  outline: 10px solid #dde0df;
}
.invalid {
  outline: 10px solid #e32b38;
}

//other

.mg-b-40 {
  margin-bottom: 40px;
}
.mg-b-20 {
  margin-bottom: 20px;
}
.mg-b-10 {
  margin-bottom: 10px;
}

.of-n {
  overflow-y: hidden;
  height: 100%;
}

.no-bg{
  background: none;
}

//Styles

.f-w {
  color: #f8f8f8;
}
.f-reverse {
  text-align: left;
}

.faint {
  color: #a7b7b1;
}
.danger {
  color: #e32b38;
}
// .danger:hover {
//   color: #ba2022;
// }
.danger:active {
  color: #ba2022;
}

.link {
  color: #9ccda1;
  transition: transform 0.3s;
  margin: 10px;
  &_w {
    @extend .link;
    color: #fcf5ea;
  }
}
.link:hover {
  color: #68967a;
  transform: scale(1.1);
}
.link_w:hover {
  color: #ffebd0;
  transform: scale(1.1);
}
.active {
  color: #e32b38;
}
.icon {
  height: 28px;
  font-size: 28px;
  margin: 5px;
  background-color: #f8f8f800;
  
  &_btt{
    @extend .icon;
    height: auto;
    font-size: 24px;
    margin: 0px 5px;
  }
}
