 .profile_img {
     max-width: 40%;
     aspect-ratio: 1/1;
     margin-top: 10px;
     border-radius: 50%
 }

 .file_input {
     display: none;
 }

 .upload_label {
     display: flex;
     //  flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .r-visibility {
     position: relative;

     &_icon {
         background: none;
         position: absolute;
         top: 0;
         right: 0;
     }
 }

 .form_button {
     margin-top: 20px;
     display: flex;
     justify-content: space-between;
     width: 70%;
     flex-direction: row-reverse;
 }

 .form_title {
     margin-top: 40px;
 }